@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');

:root{
    --primary-dark: #232638;
    --primary-light: #b6afab;
}

body {
    background-color: var(--primary-dark);
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Oswald', 'Playfair Display', serif, Georgia, Times, 'Times New Roman', serif;
}

a{
    text-decoration: none;
    color: white;
}

.container{
    background-color: var(--primary-light);
}

/******************************************************
* NAVIGATION
*******************************************************/
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #24252E;
    color: white;
    position: fixed;
    height: 100vh;
    width: 8vw;
    z-index: 1;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    color: white;
    list-style: none;
    text-align: center;
    padding: 2rem 0;
    font-size: 1.25rem;
}

.nav-link a:hover{
    color: gray;
}

.content-grid {
    display: grid;
    text-align: center;

}

.mobile-nav{
    display: none;
}

/******************************************************
* HOME
*******************************************************/
.home-container{
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 8vw;
    text-align: center;
}

.home-container > div{
    width: 750px;
}

.name-container{
    font-size: 35px;
    position: relative;
}

.name-container h2{
    margin: 0;
    font-weight: 600;
    letter-spacing: 2px;
    transition: 0.5s ease-in-out;
}

.name-container h2:hover{
    letter-spacing: 5px;
}

.name-container p{
    margin: 0;
    padding: 5vw 4vw;
    font-weight: 400;
}

.name{
    padding-block: 50px;
}

.portrait-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portrait-container>img{
    width: clamp(250px, 20vw, 750px);
    border-radius: 50%;
    z-index: 1;
    box-shadow: -5px -10px 15px 5px rgba(0, 0, 0, 0.5);
}

#first-name {
    position: relative;
}

#first-name::after {
    content: '';
    width: 250px;
    height: 10px;
    background-color: slategray;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

/******************************************************
* ABOUT
*******************************************************/
.about-content{
    font-size: clamp(24px, 4vw, 28px);
    padding-left: 8vw;
}

.about-content > *{
    margin: 0;
    padding-inline: 15%;
    padding-block: 20px;
}

.photo-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.grid-item {
    margin: 0;
    border: 2px solid rgba(15, 15, 26, 0.432);
    border-radius: 5px;
}

#record-table {
    width: clamp(250px, 8vw, 500px);
}

#tito-record-table {
    width: clamp(350px, 8vw, 500px);
}
/******************************************************
* MEDIA QUERIES
*******************************************************/
@media (max-width: 1000px){
nav {
    width: 100vw;
    height: 75px;
}

nav ul{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-container{
    padding: 50px;
}

.name{
    margin: 0;
}

.about-content{
    padding: 75px 0;
    margin: 0;
}

}

